@media (max-width: 576px) {
  .content-position-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logo-padding-login {
    padding-bottom: 100px;
  }
  .content-padding-login {
    height: 0;
  }
}

@media (min-width: 576px) {
  .form-size-login {
    width: 70%;
  }
}

.content-padding-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
